/*---HEADER---*/
header {

    background:$color-bkgd;

}

/*---SECTION ABOUT---*/
#text {
    border-radius: 10px;
}

/*---SECTION COMPETENCES---*/
#container {
    p {
        background: $linear;
    }
    p:hover {
        background: $linear-hover;
    }
}

/*---SECTION PROTFOLIO---*/
#port {
    #realisations {
        .my_port, .b_case {
            width: 320px;
            height: 170px;
            background-size: contain;
            background-repeat: no-repeat;
        }
        .b_case {
            background-image: url('../../../img/preview-business-case.png');         
        }
        .my_port {
            background-image: url('../../../img/preview-portfolio.png');
        }
        .my_port:hover, .b_case:hover {
            background-image: none;
            background-color: #B3176F;
        }
    }
}

/*--FOOTER--*/
footer {
    background-color: $color-bkgd;
}