
    nav li a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-subtitle;
    padding: .5rem 2rem;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: center;
        margin:0;
        padding: 0;
    }

    nav ul li a:hover {
        color: $color-base;
    }

    nav {
        background-color: #13152E;
        position: sticky;
        top: 0;
        z-index: 1;
        .menu_checkbox {
            opacity:0;
            position: absolute;
            top: -5000px;
        }   
    }
