body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  #bloc-page {
    width: 100%;
    text-align: center;
    h1 {
      img {
        width: 11px;
        margin: 0 0.2rem;
      }
    }

    h2 {
      padding: 0 2rem;
    }
    .title {
      margin: 0;
    }

    // header
    header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    } 
  }
}