// body
body {
    
    h1 {
        color: $color-text;
        span {
            color: $color-base;
        }
    }
    h2 {
        color: $color-secondary;
    }
    .linear {
        background: $color-linear;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
    p {
        color: $color-text;
    }
    .comp {
        color: white;
    }
    .title {
        color: black;
    }
}

// portfolio
#port {
    .my-portfolio,
    .business-case a {
        color: $color-text;
    }
}
