/*---BODY---*/

body {
    margin: 0;
    padding: 0;

    #bloc_page {
        width: 100%;
        margin: 0px;
        padding: 0px;
        text-align: center;
        box-sizing: border-box;

        .h2 {
            padding: 4rem 0;
            margin: 0;
            display: inline-block;
        }

        h1 {
            margin: 0;
            padding: 0 2rem;
        }
    }
}

/*---HEADER---*/
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h3,
    h2 {
        padding: 0 2rem;
    }

    #head {
        width: 100%;
    }
}

/*--- SECTION A PROPOS ------*/
#about {
    #apropos {
        margin-top: 3rem;
    }

    #text {
        padding: 1rem;
        max-width: 750px;
    }

    #text p {
        padding: 0;
        margin: 0;
    }

    #cont_about {
        margin: 0 2rem;
    }
}

/*-- SECTION MES COMPETENCES ---*/
#my-comp {
    #container {
        max-width: 960px;
    }

    p {
        margin-bottom: 0.5rem;
    }

    margin-top: 2rem;
}

.first_comp {
    margin-top: 0;
    padding-top: 0;
}

/*--SECTION PORTFOLIO--*/
#port {

    margin-top: 4rem;

    p {
        padding-bottom: 4rem;
    }

    #realisations {
        max-width: 960px;
        margin: 0 auto;

        h3 {
            margin-top: 0;
        }

        .b_case,
        .my_port {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    padding: 0 1rem;
}

/*--SECTION CONTACT--*/
#contact {
    margin: 4rem 0;
}

/*-----FOOTER----------*/
footer {
    width: 100%;

    p {
        text-align: center;
        margin: 0;
        padding: 2rem 0;
    }
}


/*###################################""
######PAGE BUSINESS CASE################*/
#page_businesscase {
    h1 {
        margin: 3rem 0;
        font-size: 3rem;
    }

    p {
        margin-bottom: 3rem;
    }
}