/*---BODY---*/

body{
    margin: 0px;
    padding: 0px;
    text-align: center;
    .h2{
        padding: 6rem 0;
        margin: 0;
    }
    h1{
        margin: 0;
        padding: 0 2rem;
    }
}

/*---HEADER---*/

header{
    h3, h2{
        padding: 0 2rem;
    }
}

/*--- SECTION A PROPOS ------*/

#text{
    padding: 1rem 2rem;
}
#text p {
    padding: 0;
    margin: 0 ;
}

/*-- SECTION MES COMPETENCES ---*/

#cont_about{
    width: 960px;
   margin:0 auto;
}

#my-comp{
    p{
        margin-bottom: 0.5rem;
    }
    margin-top: 2rem;
}

.first_comp{
    margin-top: 0;
    padding-top: 0;
}

/*--SECTION PORTFOLIO--*/

#port{
    >p{
        margin-bottom: 5rem;
        padding: 0 2rem;
    }
    #realisations{
        width: 960px;
        margin: 0 auto;
    }
    padding: 0, 1rem;
}

/*--SECTION CONTACT--*/

.social{
    margin-bottom: 6rem;
}

/*-----FOOTER----------*/

footer {
    p {
        text-align: center;
        margin: 0;
        padding: 2rem 0;
    } 
}

/*###################################""
######PAGE BUSINESS CASE################*/

#page_businesscase{
    p{
        margin: 3rem 1rem;
    }
}



