/*----COLORS----*/

$color-base:#F7DAED ;
$color-subtitle: #F5F2F7;
$color-text:#474141;
$color-bkgd: white;
$grey: #EEEAED;
$transparent:#11ffee00;


/*----POLICE----*/

$police-title: 'Nothing You Could do', cursive;
$police-text: 'Martel Sans', cursive;


