/*----COLORS----*/
$color-base:#d9b9d2;
$color-text: #3b3737;
$grey: #f9f1f3;
$transparent:#11ffee00;
$color-linear: rgba(0, 0, 0, 0) linear-gradient(40deg, rgb(243, 101, 207), rgb(99, 97, 98)) repeat scroll 0% 0% padding-box text;

// STYLE
$box-shadow: 0 10px 35px 0 rgb(0 0 0 / 18%);
$border-box: 1px solid $grey;
$border-radius: 15px;


/*----POLICE----*/
$police-title: 'Nothing You Could do', cursive;
$police-text: 'Martel Sans', cursive;

/*---COMPONENTS---*/
$linear: linear-gradient(to right, $color-linear, $color-base);
$linear-hover: linear-gradient(to right, $color-base, $color-linear);


