#about {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 110px;
    opacity: 0.8;
    display: block;
    border-radius: 100%;
    padding: 1rem;
    border: $border-box;
    background-color: white;
  }

  .text {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: $box-shadow;
    width: 300px;
    
    p:first-child::first-letter {
      font-family: $police-title;
      font-weight: bold;
      font-size: 2rem;
      color: $color-base;
    }
  }

  .text p {
    margin: 1rem;
  }
  
  @media screen and (min-width: 600px) {
    .text {
      width: 400px;
    }
  }

  @media screen and (min-width: 700px) {
    .container-about {
      flex-direction: row;
    }
  }

  @media screen and (min-width: 800px) {
    .text {
      width: 700px;
    }
  }

  @media screen and (min-width: 1000px) {
    .text {
      max-width: 800px;
    }
  }
 
}