#about {
 
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 70px;
    opacity: 0.8;
    display: block;
    border-radius: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
  }

  .text {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;
    box-shadow: $box-shadow;
    width: 300px;
    
    p:first-child::first-letter {
      font-family: $police-title;
      font-weight: bold;
      font-size: 2rem;
      color: $color-base;
    }

    p:first-child {
      font-size: 1.1rem;
    }

    .hr {
      width: 30%;
      height: 2px;
      background-color: $grey;
      margin-bottom: 2rem;
    }
  }

  .text p {
    margin: 1rem;
  }

  .button {
    margin: 1.5rem 0;
  }
  
  @media screen and (min-width: 600px) {
    .text {
      width: 400px;
      p:first-child {
        font-size: 1.3rem;
      }
    }
  }

  @media screen and (min-width: 700px) {
    .container-about {
      flex-direction: row;
    }
  }

  @media screen and (min-width: 800px) {
    .text {
      width: 700px;
    }
  }

  @media screen and (min-width: 1000px) {
    .text {
      max-width: 800px;
    }
  }
 
}