.background-image {
    position: relative;
    width: 100ù;
    .wave {
        width: 100%;
        position: absolute;
        top: -20px;
        left: 0;
        z-index: -1;
    }
    .photo {
        width: 100%;
        position: fixed;
        left: 0;
        z-index: -2;
        filter: contrast(50%);
        -webkit-filter: contrast(50%);
            
    }
}