body {
    #bloc-page {

        header {
            height: 270px;

            // title
            .title-head {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                h1 {
                    font-size: 2rem;
                    margin-top: 1.5rem;

                }
                .title {
                    font-size: 1.5rem;
                }
            }

            @media screen and (min-width: 500px) {
                .title-head {
                    h1 {
                        font-size: 3rem;
                        margin-top: 3rem;
                    }
                    .title {
                        font-size: 2rem;
                    }
                }
            }

            @media screen and (min-width: 800px) {
                height: 370px;
                .title-head {
                    h1 {
                        font-size: 4rem;
                    }
                    .title {
                        font-size: 3rem;
                    }
                }
            }

            @media screen and (min-width: 1000px) {
                height: 470px;
                .title-head {
                    h1 {
                        font-size: 6rem;
                    }
                    .title {
                        font-size: 5rem;
                    }
                }
            }
        }
    }
}