#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: $box-shadow;
    margin: 1rem;
    margin-top: 3rem;
    padding-top: 1rem;
    padding: 0 1rem;
    max-width: 980px;
    margin: auto;
    p {
        margin: 1rem;
    }
    .achievements {
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        // project card
        .achievements-card {

            // when hovering
        a:hover {
            .background {
                display: none;
            }
            .projects {
                box-shadow: $box-shadow;
                img {
                    transition-duration: 1000ms;
                    transform: scale(1.1);
                }
            }
        }

        // images projects
        .projects {
            width: 280px;
            height: 150px;
            position: relative;
            transition: all 0.7s ease 0s;
            margin: 2rem 0;
            margin-bottom: 0;
            .background {
                position: absolute;
                inset: 0%;
                width: 100%;
                height: 100%;
                z-index: 1;
                background: linear-gradient(
                69.23deg
                , rgba(252, 70, 107, 0.35) 0%, rgba(63, 94, 251, 0.35) 100%);
            }
            img {
                width: 100%;
                height: 100%;
            }
        }
            // div wording under image
            .wording-content {
                display: flex;
                justify-content: flex-start;
                margin-top: 1rem;
                width: 100%;
                .wording, .wording-one {
                    border-radius: $border-radius;
                    
                    color: white;
                    font-size: 0.7rem;
                    padding: 0 0.5rem;
                    margin-right: 0.5rem;     
                }
                .wording {
                    background-color: $color-base;
                }
                .wording-one {
                    background-color: $color-secondary;
                }
            }
        }

        @media screen and (min-width: 650px) {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            .achievements-card {
               margin: 1rem;
            }
        }

    }

    
    @media screen and (min-width: 1000px) {
        h2 {
            margin-bottom: 0;
        }
    } 
}